@tailwind base;
@tailwind components;
@tailwind utilities;
.splide__slide.is-visible.is-active {
  transform: none;
}
@media (min-width: 768px) {
  .splide__track.splide__track--loop.splide__track--ltr.splide__track--draggable {
    padding: 100px 0;
  }
  .splide__slide.is-visible.is-active {
    transform: scale(1.2);
    transition: all ease-in-out 0.2s;
  }
}
.sidebar {
  @apply bg-white transition-all hover:bg-investa-primary-10 p-3 hover:border-investa-primary-70 border-transparent ps-10 border-r-4;
}
.sidebar.actives {
  @apply transition-all bg-investa-primary-10 p-3 border-investa-primary-70  ps-10 border-r-4;
}
.sidebar-header {
  @apply hover:bg-investa-primary-70 p-2 transition-all rounded text-xs hover:text-white;
}

input:disabled {
  @apply bg-investa-primary-10 cursor-not-allowed italic text-investa-netral-70;
}
.button-investa {
  @apply bg-investa-primary-50 hover:bg-investa-primary-70 transition-all px-5 py-2 w-fit rounded text-white disabled:cursor-not-allowed disabled:bg-investa-primary-30;
}

.button-investa-line {
  @apply text-investa-primary-50 hover:text-white border border-investa-primary-50 hover:bg-investa-primary-50 px-10 transition-all py-2 w-fit rounded  disabled:cursor-not-allowed disabled:bg-investa-primary-30;
}

.requireds {
  @apply after:content-['*'] after:ml-0.5 after:text-red-500;
}
